# Environment

.env
.env.*
!.env.example

#.NET Build & Publish

[Bb]in/
[Ob]j/
*.user
*.userosscache
*.sln.doccache
.vs/

bin/
obj/
publish/
appsettings.Development.json

# IDE / Editor

.vs/
.idea/
*.user
*.suo
*.sln.docstates

# Frontend / Node

node_modules/
dist/
.eslintcache

# Logs

*.log
.DS_Store
Thumbs.db

/backend/Volunti/appsettings.json
